{% extends 'main.html' %}

{% block content %}
    <h2>{{user.username|capfirst}}</h2>
    {% if user == request.user %}
    <a href="{% url 'editprofile' request.user.id %}">edit info</a>
    {% endif %}
        <div class="homecontainer">

            <div>
                {% if request.user == user %}
                <a href="{% url 'addtopic' %}">add topic</a>
                {% endif%}
                 
                {% include 'socialsite/topics.html' %}
             </div>

    <div>
        <h1>Rooms</h1><hr>
        {% include 'socialsite/rooms.html' %}
    </div>

    <div>
        {% include 'socialsite/activity.html' %}
    </div>
        </div>

    

{% endblock%}