{% for room in rooms %}
            
                <a href="{% url 'profiles' room.host.id %}">Created by @{{room.host.username|capfirst}}</a>
                <p> <a href="{% url 'room' room.id %}">{{room.name|capfirst}}</a> </p>
                <small>{{room.topic.name|capfirst}} </small>
                <p> {% if request.user.id == room.host.id %}
                <a href="{% url 'update' room.id %}"> <button>Edit</button> </a>
                <a href="{% url 'delete' room.id %}"> <button> delete</button></a>
                <p>{{room.host}}</p>
                {% endif %}</p>
                <br>
                <hr>
                
                {% endfor %}