{% extends 'main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }
</style>

<div class="room-container">
    

<div class="comment">
    <h3>@{{room.host.username|capfirst}}</h3>
    <h2>{{room.name|capfirst}}</h2>

        <p>{{room.description|capfirst}}</p>
        <small>Posted {{room.created|timesince}}</small>
    <h3>Conversation</h3>
    <hr>
    {% for message in roommessages %}
        <div>
            
            <a href="{% url 'profiles' message.user.id%}"><small>@{{message.user|capfirst}} </small></a><br>
            <p>{{message.body|capfirst}}</p>

            {% if request.user == message.user %}
            <a href="{% url 'delete_message' message.id %}">Delete</a>

            {% endif %}
            <small>{{message.created|timesince}} ago</small>
            <hr>
        </div>

        {% endfor %}

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here">
                <button type="submit"> send</button>

            </form>


        </div>

        {% endif %}
</div>

<div>
    <h3>{{participantNumber}} participants</h3>
    <hr>
    {% for participant in participants %}
    <div>
        <a href="{% url 'profiles' participant.id %}"><p>@{{participant.username|capfirst}}</p></a>
    </div>
    {% endfor %}

</div>

</div>


{% endblock %}